[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: #18778C;
}

h1{
    text-align: center;
    color: #F2F2F2;
    text-shadow: 0px 2px 2px #042440;
}

#addContactBtn {
    margin-bottom: 10px;
}

.action-col {
    padding-left: 5px;
}

.contact-item {
    background: #fffdf1;
    border: solid 1px #221e55;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding: 10px;
}

#contactForm input {
    width: 95%;
}

#contactFormInputContainer {
    background: #fffdf1;
    border: solid 1px #006400;
    border-radius: 5px;
    padding-top: 25px;
}

.select-pointer {
    cursor: pointer;
}

#sortSelector {
    display: inline;
    margin-left: 10px;
    width: 105px;
}

.wrapper{
    min-height: 520px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 3px 3px 3px #221e55;
    background: #F2F2F2;
    border-radius: 15px;
    padding: 10px;
}