[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: #CCCCCC;
}

h1{
    text-align: center;
    color: #666;
    text-shadow: 0px 2px 0px #fff;
}

#addContactBtn {
    margin-bottom: 10px;
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0px 0px 1px;
    font-size: 12px;
    line-height: .65;
    border-radius: 15px;
}

#editIcon, #deleteIcon {
    padding-right: 3px;
}

.wrapper{
    min-height: 535px;
    width: 550px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #555;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
}

.contact-item {
    background: #fffdf1;
    border: solid 1px #023864;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding: 10px;
}


#contactForm input {
    width: 95%;
}

#contactFormInputContainer {
    background: #f8fff7;
    border: solid 1px #006400;
    border-radius: 5px;
    padding-top: 25px;
}