body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: #CCCCCC;
}

h1{
    text-align: center;
    color: #666;
    text-shadow: 0px 2px 0px #fff;
}

.name, .phone, .city{
    font-size: 16px;
}

.wrapper{
    width: 550px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #555;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
}

.contact-item {
    border-bottom: thin dotted #666;
    padding: 10px;
}

.row-with-margin {
    margin-top: 7px;
    margin-bottom: 7px
}